* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lora, serif;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    transition: 0.4s ease;
    z-index: 1000;
}

header.scrolled {
    background: black;
}

/* LOGO */
.logo {
    font-size: 25px;
    font-weight: normal;
    color: white;
}

/* NAV */
nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00bcd4;
}

/* EDUCATION SECTION */
.education-section {
    margin-top: 100px;
    padding: 50px;
    text-align: center;
}

.education-section h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

/* TIMELINE */
.timeline {
    position: relative;
    max-width: 800px;
    margin: auto;
}

/* LINE */
.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background: #ccc;
    left: 50%;
    transform: translateX(-50%);
    
    top: 100px;      /* start near first dot */
    bottom: 85px;   /* end near last dot */
}

/* ITEM */
.timeline-item {
    padding: 20px;
    position: relative;
    width: 50%;
}

/* LEFT SIDE */
.timeline-item:nth-child(odd) {
    left: 0;
    text-align: right;
}

/* RIGHT SIDE */
.timeline-item:nth-child(even) {
    left: 50%;
}

/* CONTENT BOX */
.timeline-content {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.timeline-content h2 {
    margin-bottom: 5px;
}

.timeline-content span {
    font-size: 14px;
    color: gray;
}

/* DOT */
.timeline-dot {
    position: absolute;
    top: 90px;
    left: 100%;   /* move to edge of left items */
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #00bcd4;
    border-radius: 50%;
    z-index: 2;
}

/* LEFT ITEMS */
.timeline-item:nth-child(odd) .timeline-dot {
    left: 100%;   /* right edge of left box → touches line */
}

/* RIGHT ITEMS */
.timeline-item:nth-child(even) .timeline-dot {
    left: 0%;     /* left edge of right box → touches line */
    transform: translateX(-50%);
}